.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 80px; /* Reserve space */
  flex-wrap: wrap; /* Allows content to wrap on small screens */
}

.logo {
  font-size: 24px; /* Smaller font size for smaller screens */

  font-weight: bold;
}

form {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  flex-wrap: wrap; /* Adjust layout for small screens */
}

input {
  padding: 10px;
  font-size: 16px;

  max-width: 400px; /* Maximum width constraint */

  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #3c00ff;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subreddits {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Adjust layout for small screens */
}

.subreddit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.subreddit button {
  color: white;
  background-color: #282c34;
  border: none;
  font-size: 20px;
  margin: 0 2px;
}

.subreddit :hover {
  color: gray;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.post {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Full width on smaller screens */
  max-width: 800px; /* Maximum width constraint */
}

.post img,
.main img {
  width: 100%; /* Full width on smaller screens */
  max-width: 300px; /* Maximum width constraint */
  height: auto; /* Maintain aspect ratio */

  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 5px #ccc;
}

.back-button {
  color: white;
  background-color: #3c00ff;
  width: 100%; /* Full width on smaller screens */
  max-width: 300px; /* Maximum width constraint */
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

.error-boundary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-boundary h1 {
  color: red;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack content vertically on small screens */
    align-items: flex-start;
  }

  .subreddits {
    justify-content: center; /* Center items on smaller screens */
  }
}
